<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Home Page</title>
</head>
<body class="bg-dark">
    <h1 class="text-center text-white pt-3">Welcome to Grand Theft Auto</h1>
    <h3 class="text-center text-white">- where every car is a steal -</h3>

    <ul class="nav justify-content-center pb-3">
            <li class="nav-item">
              <a class="nav-link active" href="/user/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/car">Inventory</a>
            </li>
    </ul>

    <div class="images w-75 mx-auto">
      <img class="img-fluid rounded d-block w-100" src="https://i.ytimg.com/vi/UYlraGvxrR4/maxresdefault.jpg" alt="">
      <img class="img-fluid rounded d-block w-100" src="http://funnypicture.org/wallpaper/2015/05/funny-gta-selfies-5-desktop-wallpaper.jpg" alt="">
    </div>

</body>
</html>